@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-gabarito: "Gabarito", "sans-serif";
  --font-outfit: "Outfit", "sans-serif";
  --color-custom-blue: #0b0b1c;
}